<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
    </head>
    <body>
        <div th:replace="header :: content"></div>
        <div class="home__body">
            <div class="categories__container">
                <div class="flex">
                    <th:block th:each="cat,itr : ${categories}">
                        <div class="cat__container">
                            <button
                                class="button__container"
                                th:id="${itr.index  + 1}"
                            >
                                <div>
                                    <img
                                        th:src="@{${cat.iconPath}}"
                                        alt="${cat.iconPath}"
                                        width="20px"
                                        height="20px"
                                        class="cat__image"
                                    />
                                </div>
                                <div
                                    th:text="${cat.name}"
                                    class="cat__name"
                                ></div>
                                <input
                                    type="hidden"
                                    th:value="${cat.id}"
                                    class="cat__id"
                                />
                            </button>
                        </div>
                    </th:block>
                </div>
            </div>
            <section class="room__section">
                <div id="rooms__container"></div>
            </section>
        </div>

        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/js/room/roomComponent.js}"
        ></script>
        <script>
            const active = 'active';
            const imageClassName = '.' + 'cat__image';
            const loadTime = 200;
            const defaultHeight = 1902;
            let globalPage = 1;
            let globalCatId = 0;
            let rooms = [];

            $(document).ready(function () {
                const catContainers = $('.cat__container');
                const buttonContainers = $('.button__container');
                const roomsContainer = $('#rooms__container');

                const activeWhenLoaded = catContainers.first().addClass(active);
                const img = $(imageClassName, catContainers.first());
                img.addClass(active);

                buttonContainers.each(function (index) {
                    $(this).click(async function () {
                        let { catId, page } = await fetchRoomsByCategory(
                            this,
                            catContainers,
                            roomsContainer,
                            globalPage,
                            rooms
                        );
                        globalPage = page;
                        globalCatId = catId;
                    });
                });

                $(this).on('scroll', async function () {
                    let root = [];
                    const scrollY = $(this).scrollTop();
                    console.log(scrollY);
                    if (
                        scrollY > defaultHeight * (globalPage - 1) &&
                        scrollY < defaultHeight * (globalPage - 1) + 50
                    ) {
                        root = await fetchRooms(globalCatId, globalPage);

                        if (root.length > 0) {
                            rooms.push.apply(root);
                            appendRoomToRoomsContainer(rooms, roomsContainer);
                        }
                    }
                });
            });
        </script>
        <script type="text/javascript" th:src="@{/js/room/room.js}"></script>
        <script
            type="text/javascript"
            th:src="@{/js/room/roomSlider.js}"
        ></script>
    </body>
</html>
