<div th:fragment="saveAndShare" th:remove="tag">
    <button class="rdt_button__action">
        <div class="rdt_button__inner">
            <span>
                <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    style="
                        display: block;
                        fill: none;
                        height: 16px;
                        width: 16px;
                        stroke: currentcolor;
                        stroke-width: 2;
                        overflow: visible;
                    "
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shareSvg"
                >
                    <g fill="none">
                        <path d="M27 18v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9"></path>
                        <path d="M16 3v23V3z"></path>
                        <path d="M6 13l9.293-9.293a1 1 0 0 1 1.414 0L26 13"></path>
                    </g>
                </svg>
            </span>
            <span>Chia sẻ</span>
        </div>
    </button>
    <button class="rdt_button__action">
        <div class="rdt_button__inner">
            <span>
                <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    style="
                        display: block;
                        fill: none;
                        height: 16px;
                        width: 16px;
                        stroke: currentcolor;
                        stroke-width: 2;
                        overflow: visible;
                    "
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    class="loveSvg"
                >
                    <path
                        d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"
                    ></path>
                </svg>
            </span>
            <span>Lưu</span>
        </div>
    </button>
</div>

<div th:fragment="image__header" th:remove="tag">
    <div style="width: 100%; height: 60px; padding: 0 24px">
        <div class="flex2">
            <div>
                <button class="" id="closeShowImgBtn">
                    <span class="_e296pg"
                        ><svg
                            viewBox="0 0 18 18"
                            role="presentation"
                            aria-hidden="true"
                            focusable="false"
                            style="
                                height: 16px;
                                width: 16px;
                                display: block;
                                fill: currentcolor;
                            "
                            class="backSvg"
                        >
                            <path
                                d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z"
                                fill-rule="evenodd"
                            ></path></svg
                    ></span>
                </button>
            </div>
            <div>
                <div class="rdt_header__action">
                    <div th:replace="room/room_fragment :: saveAndShare"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="showMoreImage" th:remove="tag">
    <div th:replace="room/room_fragment :: image__header"></div>
    <div class="rdt_images_show">
        <a href="javascript:showFullscreenImage()">
            <th:block th:each="image,itr : ${room.images}">
                <div th:if="${(itr.index + 1) % 3 != 0 && (itr.index + 2) % 3 != 0}">
                    <img
                        th:src="@{${image.imagePath}}"
                        alt=""
                        width="746px"
                        th:class="${itr.index + 1}"
                    />
                </div>

                <img
                    th:src="@{${image.imagePath}}"
                    alt=""
                    width="370px"
                    height="247px"
                    th:class="${itr.index + 1}"
                    style="display: inline-block"
                    th:if="${(itr.index + 2) % 3 == 0 || (itr.index + 1) % 3 == 0 }"
                />
            </th:block>
        </a>
    </div>
</div>

<div th:fragment="changeImage" th:remove="tag">
    <div class="_1lyyzem">
        <button
            type="button"
            class="prevImage"
            onclick="changeImage(this, 'bigImage');"
            data-function-name="prevImage"
        >
            <span class="_e296pg"
                ><svg
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="presentation"
                    focusable="false"
                    style="
                        display: block;
                        fill: none;
                        height: 20px;
                        width: 20px;
                        stroke: currentcolor;
                        stroke-width: 5.33333;
                        overflow: visible;
                    "
                >
                    <g fill="none">
                        <path
                            d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
                        ></path>
                    </g></svg
            ></span>
        </button>
    </div>
    <div class="_1lyyzem">
        <button
            type="button"
            class="nextImage"
            onclick="changeImage(this, 'bigImage');"
            data-function-name="nextImage"
        >
            <span class="_e296pg"
                ><svg
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="presentation"
                    focusable="false"
                    style="
                        display: block;
                        fill: none;
                        height: 20px;
                        width: 20px;
                        stroke: currentcolor;
                        stroke-width: 5.33333;
                        overflow: visible;
                    "
                >
                    <g fill="none">
                        <path
                            d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"
                        ></path>
                    </g></svg
            ></span>
        </button>
    </div>
</div>
