<!DOCTYPE html>
<html xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Room Details</title>
        <link
            rel="stylesheet"
            th:href="@{/css/product_details.css}"
            type="text/css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <div th:replace="header :: css"></div>
    </head>
    <body>
        <div th:replace="header :: content"></div>

        <div class="rdt_container">
            <div class="rdt_header">
                <h1 class="rdt_name">[[${room.name}]]</h1>
                <input type="hidden" id="roomId" th:value="${room.id}" />
                <div class="rdt_below__header flex">
                    <div class="rdt_location__info text">
                        <span th:if="${room.city.name != null}"
                            >[[${room.city.name}]]</span
                        >
                        <span th:if="${room.state.name != null}"
                            >[[${room.state.name}]]</span
                        >
                        <span th:if="${room.country.name != null}"
                            >[[${room.country.name}]]</span
                        >
                    </div>
                    <div class="rdt_header__action">
                        <div
                            th:replace="room/room_fragment :: saveAndShare"
                        ></div>
                    </div>
                </div>

                <section class="rdt_images grid">
                    <div style="width: 100%; height: 100%">
                        <img
                            th:src="@{${thumbnail.imagePath}}"
                            th:alt="${thumbnail.imageName}"
                            width="100%"
                            height="98%"
                            class="image"
                        />
                    </div>
                    <div class="rdt_images__left">
                        <th:block th:each="image,iter  : ${roomImages}">
                            <div style="width: 100%; height: 100%">
                                <img
                                    th:src="@{${image.imagePath}}"
                                    th:alt="${image.imageName}"
                                    width="100%"
                                    height="100%"
                                    class="image"
                                    th:class="${iter.even}? 'roundedBorder'"
                                />
                            </div>
                        </th:block>
                        <a
                            href="javascript:toggleHiddenImages();"
                            style="text-decoration: none"
                        >
                            <div class="rdt_showMoreImage">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 17 17"
                                    role="presentation"
                                    aria-hidden="true"
                                    focusable="false"
                                    style="
                                        height: 12px;
                                        width: 12px;
                                        display: block;
                                        fill: currentcolor;
                                    "
                                >
                                    <circle cx="1.5" cy="1.5" r="1.5"></circle>
                                    <circle cx="1.5" cy="8.5" r="1.5"></circle>
                                    <circle cx="8.5" cy="1.5" r="1.5"></circle>
                                    <circle cx="8.5" cy="8.5" r="1.5"></circle>
                                    <circle cx="15.5" cy="1.5" r="1.5"></circle>
                                    <circle cx="15.5" cy="8.5" r="1.5"></circle>
                                    <circle cx="1.5" cy="15.5" r="1.5"></circle>
                                    <circle cx="8.5" cy="15.5" r="1.5"></circle>
                                    <circle
                                        cx="15.5"
                                        cy="15.5"
                                        r="1.5"
                                    ></circle>
                                </svg>
                                <div style="padding-left: 12px">
                                    Hiển thị tất cả ảnh
                                </div>
                            </div>
                        </a>
                    </div>
                </section>

                <main class="rdt_body">
                    <div class="grid__2_1">
                        <article>
                            <div class="rdt_room__count flex">
                                <div>
                                    <h2
                                        style="
                                            font-size: 22px;
                                            line-height: 40px;
                                        "
                                    >
                                        Phòng riêng tại ryokan. Chủ nhà
                                        [[${room.host.firstName}]]
                                        [[${room.host.lastName}]]
                                    </h2>
                                    <p
                                        style="
                                            font-size: 16px;
                                            font-weight: 500;
                                        "
                                    >
                                        [[${room.accomodatesCount}]] khách.
                                        [[${room.bathroomCount}]] phòng ngủ .
                                        [[${room.bedCount}]] giường.
                                        [[${room.bedroomCount}]] phòng tắm riêng
                                    </p>
                                </div>
                                <div>
                                    <img
                                        th:src="@{${room.host.avatarPath}}"
                                        alt=""
                                        class="image"
                                        width="64px"
                                        height="64px"
                                        style="border-radius: 50%"
                                    />
                                </div>
                            </div>
                            <div class="rdt_description rdt_body__common">
                                <p>[[${room.description}]]</p>
                            </div>
                            <div class="rdt_bedroom_info rdt_body__common">
                                <h4 class="rdt_amentity__header">
                                    Nơi bạn sẽ ngủ nghỉ
                                </h4>
                                <div class="rdt_room__decor">
                                    <div
                                        style="
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 16px;
                                        "
                                    >
                                        <th:block
                                            th:each="bed : ${numberOfBed}"
                                        >
                                            <span>
                                                <svg
                                                    viewBox="0 0 32 32"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    aria-hidden="true"
                                                    role="presentation"
                                                    focusable="false"
                                                    style="
                                                        display: block;
                                                        height: 24px;
                                                        width: 24px;
                                                        fill: currentcolor;
                                                    "
                                                >
                                                    <path
                                                        d="M24 4a2 2 0 0 1 1.995 1.85L26 6v7.839l1.846 5.537a3 3 0 0 1 .115.468l.03.24.009.24V30h-2v-2H6v2H4v-9.675a3 3 0 0 1 .087-.717l.067-.232L6 13.836V6a2 2 0 0 1 1.697-1.977l.154-.018L8 4zm2 18H6v4h20zm-1.388-6H7.387l-1.333 4h19.891zM24 6H8v8h3v-4a2 2 0 0 1 1.85-1.995L13 8h6a2 2 0 0 1 1.995 1.85L21 10v4h3zm-5 4h-6v4h6z"
                                                    ></path>
                                                </svg> </span
                                        ></th:block>
                                    </div>
                                    <div
                                        style="
                                            margin-bottom: 8px;
                                            font-size: 16px;
                                        "
                                    >
                                        Phòng ngủ
                                    </div>
                                    <div style="font-size: 14px">
                                        <span
                                            th:text="${#arrays.length(numberOfBed)}"
                                        ></span>
                                        giường đơn
                                    </div>
                                </div>
                            </div>
                            <div class="rdt_amentity rdt_body__common">
                                <h4 class="rdt_amentity__header">
                                    Nơi này có những gì cho bạn
                                </h4>
                                <div>
                                    <th:block
                                        th:each="amt : ${room.amentities}"
                                    >
                                        <div
                                            style="
                                                display: flex;
                                                align-items: center;
                                                padding-bottom: 16px;
                                                height: 40px;
                                            "
                                        >
                                            <span
                                                th:remove="tag"
                                                th:utext="${amt.iconImage}"
                                            ></span>
                                            <span style="padding-left: 16px"
                                                >[[${amt.name}]]</span
                                            >
                                        </div>
                                    </th:block>
                                </div>
                                <div class="rdt_anchor__container">
                                    <a href="" class="rdt_anchor"
                                        >Hiển thị tất cả
                                        <span
                                            th:text="${#arrays.length(room.amentities)}"
                                        ></span>
                                        tiện nghi</a
                                    >
                                </div>
                            </div>
                            <div class="rdt_calender">
                                <h2>7 đêm tại 有馬温泉・六甲山</h2>
                                <div>Từ ngày - đến ngày</div>
                                <div class="rdt_calender__header">
                                    <div class="flex3">
                                        <div class="firstMonth">
                                            <div
                                                class="
                                                    MonthTitle
                                                    firstMonthAndYear
                                                "
                                            >
                                                Tháng MM năm YYY
                                            </div>
                                            <div class="rdt_calender__body">
                                                <div class="flex3">
                                                    <div class="date">CN</div>
                                                    <div class="date">T2</div>
                                                    <div class="date">T3</div>
                                                    <div class="date">T4</div>
                                                    <div class="date">T5</div>
                                                    <div class="date">T6</div>
                                                    <div class="date">T7</div>
                                                </div>
                                                <table
                                                    class="rdt_calender__days"
                                                ></table>
                                            </div>
                                        </div>
                                        <div class="secondMonth">
                                            <div class="secondMonthTitle">
                                                <div class="pseudoContainer">
                                                    <div
                                                        class="
                                                            secondMonthAndYear
                                                        "
                                                    >
                                                        Tháng MM + 1 năm YYYY
                                                    </div>
                                                </div>
                                                <div
                                                    th:replace="room/room_fragment :: nextCoupleOfMonth"
                                                ></div>
                                            </div>
                                            <div class="rdt_calender__body">
                                                <div class="flex3">
                                                    <div class="date">CN</div>
                                                    <div class="date">T2</div>
                                                    <div class="date">T3</div>
                                                    <div class="date">T4</div>
                                                    <div class="date">T5</div>
                                                    <div class="date">T6</div>
                                                    <div class="date">T7</div>
                                                </div>
                                                <table
                                                    class="
                                                        rdt_calender__days_plus-1
                                                    "
                                                ></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rdt_review"></div>
                            <div class="rdt_host rdt_body__common">
                                <div class="host_info">
                                    <div>
                                        <img
                                            th:src="@{${room.host.avatarPath}}"
                                            alt=""
                                            class="image"
                                            width="64px"
                                            height="64px"
                                            style="border-radius: 50%"
                                        />
                                    </div>
                                    <div style="margin-left: 20px">
                                        <h2
                                            style="
                                                font-size: 22px;
                                                line-height: 26px;
                                            "
                                        >
                                            Chủ nhà [[${room.host.firstName}]]
                                            [[${room.host.lastName}]]
                                        </h2>
                                        <div
                                            style="
                                                padding-top: 8px;
                                                color: #717171;
                                                font-size: 14px;
                                                line-height: 18px;
                                            "
                                        >
                                            [[${room.host.createdDate}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rdt_rules rdt_body__common">
                                <h4 class="rdt_amentity__header">
                                    Những điều cần biết
                                </h4>
                                <th:block th:each="rule : ${room.rules}">
                                    <div
                                        style="
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 8px;
                                        "
                                    >
                                        <span
                                            th:remove="tag"
                                            th:utext="${rule.icon}"
                                        ></span>
                                        <span style="padding-left: 16px"
                                            >[[${rule.title}]]</span
                                        >
                                    </div>
                                </th:block>
                            </div>
                        </article>

                        <article class="rdt_booking">
                            <div
                                style="
                                    border: 1px solid rgb(221, 221, 221);
                                    border-radius: 12px;
                                    padding: 24px;
                                    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
                                    width: 373px;
                                    float: right;
                                "
                            >
                                <div style="margin-bottom: 24px">
                                    <span class="rdt__price"
                                        >[[${room.currency.symbol}]]
                                        [[${room.price}]]</span
                                    >
                                    <span
                                        style="font-size: 16px"
                                        th:text="${room.priceType == 'PER_NIGHT' ? '/ đêm' : '/ tuần'}"
                                    ></span>
                                </div>
                                <div
                                    style="
                                        border: 1px solid #b0b0b0;
                                        border-radius: 10px;
                                        font-size: 14px;
                                        overflow: hidden;
                                        margin-bottom: 20px;
                                    "
                                >
                                    <div class="flex">
                                        <div
                                            style="
                                                padding: 10px 12px 10px;
                                                width: 50%;
                                                border: 0.5px solid red;
                                            "
                                        >
                                            <div style="font-weight: 600">
                                                Nhận phòng
                                            </div>
                                            <div>7/2/2022</div>
                                        </div>
                                        <div
                                            style="
                                                padding: 10px 12px 10px;
                                                width: 50%;
                                                border: 0.5px solid red;
                                            "
                                        >
                                            <div style="font-weight: 600">
                                                Trả phòng
                                            </div>
                                            <div>7/2/2022</div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex"
                                        style="
                                            height: 56px;
                                            padding: 16px 16px 10px 12px;
                                        "
                                    >
                                        <div>
                                            <div style="font-weight: 600">
                                                Khách
                                            </div>
                                            <div>1 khách</div>
                                        </div>
                                        <div
                                            style="
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 100%;
                                            "
                                        >
                                            <svg
                                                viewBox="0 0 18 18"
                                                role="presentation"
                                                aria-hidden="true"
                                                focusable="false"
                                                style="
                                                    height: 16px;
                                                    width: 16px;
                                                    display: block;
                                                    fill: currentcolor;
                                                "
                                            >
                                                <path
                                                    d="m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z"
                                                    fill-rule="evenodd"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button
                                        data-testid="homes-pdp-cta-btn"
                                        type="submit"
                                        class="rdt_booking_button"
                                    >
                                        <span class="_163rr5i"
                                            ><span
                                                class="_19di23v"
                                                style="
                                                    background-position: calc(
                                                            (
                                                                    100 -
                                                                        var(
                                                                            --mouse-x,
                                                                            0
                                                                        )
                                                                ) * 1%
                                                        )
                                                        calc(
                                                            (
                                                                    100 -
                                                                        var(
                                                                            --mouse-y,
                                                                            0
                                                                        )
                                                                ) * 1%
                                                        );
                                                    --mouse-x: 96.4371;
                                                    --mouse-y: 50;
                                                "
                                            ></span></span
                                        ><span class="_tcp689">Đặt phòng </span>
                                    </button>
                                </div>
                                <div
                                    style="
                                        font-size: 14px;
                                        text-align: center;
                                        margin-top: 8px;
                                    "
                                >
                                    Bạn vẫn chưa bị trừ tiền
                                </div>
                                <div class="flex" style="padding-bottom: 12px">
                                    <button class="rdt_transparent__btn">
                                        <div class="_m6lwl6">
                                            [[${room.currency.symbol}]]460 x
                                            7&nbsp;đêm&nbsp;
                                        </div>
                                    </button>
                                    <div>[[${room.currency.symbol}]]3.222</div>
                                </div>
                                <div class="flex" style="padding-bottom: 20px">
                                    <button class="rdt_transparent__btn">
                                        <div class="_m6lwl6">
                                            [[${room.currency.symbol}]]460 x
                                            7&nbsp;đêm&nbsp;
                                        </div>
                                    </button>
                                    <div>[[${room.currency.symbol}]]3.222</div>
                                </div>
                                <div
                                    class="flex"
                                    style="
                                        padding-top: 16px;
                                        border-top: 1px solid #b0b0b0;
                                    "
                                >
                                    <div>Tổng</div>
                                    <div>[[${room.currency.symbol}]]3.222</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </main>
            </div>
        </div>

        <div class="rdt_hidden">
            <div th:replace="/room/room_fragment :: showMoreImage"></div>
        </div>

        <div class="rdt__fullScreen">
            <div th:replace="room/room_fragment :: image__header"></div>
            <div id="rdt__imagesFullScreenContainer">
                <div id="innerContainer"></div>
            </div>
            <div id="button__changeImage">
                <div th:replace="room/room_fragment :: changeImage"></div>
            </div>
        </div>

        <div th:replace="_footer :: content"></div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            th:src="@{/webjars/jquery/jquery.min.js}"
        ></script>
        <script>
            const active = 'active';

            $(document).ready(async function () {
                const date = new Date();
                const month = date.getMonth();
                const year = date.getFullYear();

                const closeShowImgBtn = $('#closeShowImgBtn');
                closeShowImgBtn.click(function () {
                    toggleHiddenImages();
                });

                const firstMonthAndYear = $('.firstMonthAndYear').first();
                const secondMonthAndYear = $('.secondMonthAndYear').first();
                const getTheNextTwoMonth = $('.getTheNextTwoMonth').first();

                fetchTheNextCoupleOfMonth(
                    firstMonthAndYear,
                    secondMonthAndYear,
                    month,
                    year
                );

                getTheNextTwoMonth.on('click', function () {
                    const currentFirstMonthInCalendar = secondMonthAndYear
                        .text()
                        .split(' ')[1];
                    const currentYearInCalendar = secondMonthAndYear
                        .text()
                        .split(' ')[3];

                    fetchTheNextCoupleOfMonth(
                        firstMonthAndYear,
                        secondMonthAndYear,
                        currentFirstMonthInCalendar * 1,
                        currentYearInCalendar * 1
                    );
                });
            });

            async function fetchTheNextCoupleOfMonth(
                firstMonthAndYear,
                secondMonthAndYear,
                month,
                year
            ) {
                let secondMonth;
                if (month === 11) {
                    secondMonth = await fetchDaysInMonth(0, year + 1);
                    secondMonthAndYear.html(`Tháng ${1} năm ${year + 1}`);
                } else {
                    secondMonth = await fetchDaysInMonth(month + 1, year);
                    secondMonthAndYear.html(
                        `Tháng ${month * 1 + 2} năm ${year}`
                    );
                }

                firstMonthAndYear.html(`Tháng ${month * 1 + 1} năm ${year}`);

                const firstMonth = await fetchDaysInMonth(month, year);

                const rdt_calender__days = $('.rdt_calender__days').first();
                const rdt_calender__days_plus__1 = $(
                    '.rdt_calender__days_plus-1'
                ).first();

                const daysInMonthJs1 = getDaysInMonth(firstMonth.daysInMonth);
                const daysInMonthJs2 = getDaysInMonth(secondMonth.daysInMonth);

                rdt_calender__days.empty();
                rdt_calender__days_plus__1.empty();

                daysInMonthJs1.forEach(day => {
                    rdt_calender__days.append(day);
                });
                daysInMonthJs2.forEach(day => {
                    rdt_calender__days_plus__1.append(day);
                });
            }

            const fetchDaysInMonth = async (month, year) => {
                const {
                    data: { daysInMonth, startInWeek },
                } = await axios.get(
                    `http://localhost:8001/airtnt/calendar/${month + 1}/${year}`
                );
                return Promise.resolve({ daysInMonth, startInWeek });
            };

            function getDaysInMonth(daysInMonth) {
                let daysInMonthJs = [];
                let weeks = daysInMonth.split('*');
                weeks.forEach(week => {
                    daysInMonthJs.push('<tbody><tr>');
                    const weekArray = week.trim().split(' ');
                    weekArray.forEach(dayInWeek => {
                        if (dayInWeek.trim() !== '_') {
                            const dayInHtml = `<td><div data-is-blocked="${false}" class="dayInWeek block__date">${dayInWeek.trim()}</div></td>`;
                            daysInMonthJs.push(dayInHtml);
                        } else if (dayInWeek.trim() === '_') {
                            const dayInHtml = `<td></td>`;
                            daysInMonthJs.push(dayInHtml);
                        }
                    });
                    daysInMonthJs.push('</tr></tbody>');
                });
                return daysInMonthJs;
            }

            function toggleHiddenImages() {
                const hiddenSlider = $('.rdt_hidden').first();
                const fullScreen = $('.rdt__fullScreen').first();
                if (hiddenSlider.hasClass('show')) {
                    hiddenSlider.removeClass('show');
                } else {
                    hiddenSlider.addClass('show');
                }
            }

            async function showFullscreenImage() {
                const header = $('.header');
                header.hide();
                toggleHiddenImages();

                const shareIcon = $('.shareSvg');
                const loveIcon = $('.loveSvg');
                const backIcon = $('.backSvg');
                shareIcon.attr('class', 'shareSvg white');
                loveIcon.attr('class', 'loveSvg white');
                backIcon.attr('class', 'backIcon white');
                backIcon.attr(
                    'style',
                    `  height: 16px;
                                width: 16px;
                                display: block;
                                fill: #fff;`
                );

                const rdt_container = $('.rdt_container').first();
                rdt_container.hide();
                const fullScreen = $('.rdt__fullScreen').first();
                fullScreen.addClass('block');
                const roomId = $('#roomId').val();
                let images = await fetchRoomImages(roomId);
                const innerContainer = $('#innerContainer');

                images.forEach((image, index) => {
                    let imgHtml;
                    if (index === 0) {
                        imgHtml = `
                        <img src="/airtnt${image.imagePath}" id="${
                            image.id
                        }" class="bigImage active" data-index="${index + 1}"/>
                    `;
                    } else {
                        imgHtml = `<img src="/airtnt${image.imagePath}" id="${
                            image.id
                        }" class="bigImage" data-index="${index + 1}"/>`;
                    }

                    innerContainer.append(imgHtml);
                });
            }

            async function fetchRoomImages(roomId) {
                const {
                    data: { images },
                } = await axios.get(
                    'http://localhost:8001/airtnt/homes/' + roomId
                );

                return images;
            }
        </script>
        <script
            type="text/javascript"
            th:src="@{/js/room/roomSlider.js}"
        ></script>
        <script>
            const headerNavButton =
                document.getElementsByClassName('account__button')[0];
            const navMenu = document.getElementsByClassName(
                'loginAndLogoutHidden'
            )[0];
            let isClicked = false;

            headerNavButton.addEventListener('click', function () {
                if (!isClicked) {
                    navMenu.classList.add('active');
                    isClicked = true;
                } else {
                    navMenu.classList.remove('active');
                    isClicked = false;
                }
            });
        </script>
    </body>
</html>
